<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zomato API</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Zomato Api</h1>
        <form action = "http://localhost:5000/lista" method = "POST">
            <div class="form-group row">
                <label for="Latitude" class="col-sm-2 col-form-label">Latitude</label>
                <input type = "text" name = "Latitude" />
            </div>
            <div class="form-group row">
                <label for="Longitude" class="col-sm-2 col-form-label">Longitude</label>
                <input type = "text" name = "Longitude" />
            </div>
            <p><input type = "submit" name = "submit_button" value = "Procurar" class="btn btn-danger"/>
            <input type = "submit" name = "submit_button" value = "Usar endereço de IP" class="btn btn-warning"></p>
        </form>
    </body>
</html>